@font-face {
	font-family: "Reey";
	font-weight: 400;
	font-style: normal;
	src: url("Reey-Regular.ttf") format("ttf"), url("Reey-Regular.woff2") format("woff2"),
		url("Reey-Regular.woff") format("woff");
	font-display: swap;
}
