@font-face {
	font-family: "Reey";
	font-weight: 400;
	font-style: normal;
	src: font-url("ReeyRegular.ttf") format("ttf"), font-url("ReeyRegular.woff2") format("woff2"),
		font-url("ReeyRegular.woff") format("woff");
	font-display: swap;
}
