@font-face {
	font-family: "Reey";
	font-weight: 400;
	font-style: normal;
	src: url("/fonts/ReeyRegular.ttf") format("ttf"), url("/fonts/ReeyRegular.woff2") format("woff2"),
		url("/fonts/ReeyRegular.woff") format("woff");
	font-display: swap;
}
