:root {
  --primary-color: #00f0d8;
  --secondary-color: white;
  --background-color: #00101f;
  --background-color-alt: #004061;
  --mobile-drawer-bg-color: rgba(0, 0, 0, 0.9);
  --hamburger-icon-bg-color: var(--background-color-alt);
  --highlight-color: #f05d5e;
  --highlight-color-alt: #ff1129;
  --footer-bg-color: var(--background-color-alt);

  --layout-width: 1200px;

  --header-height: 55px;
  --footer-height: 67px;

  --page-x-margin: 32px;
  --page-y-margin: 32px;

  --border-radius: 5px;

  --margin-to-top: var(--header-height);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: var(--secondary-color);
  scroll-margin-top: var(--header-height);
}

html {
  font-size: 19px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  position: absolute;
  width: 100%;
}

body {
  color: var(--primary-color);
  background: var(--background-color);
  font-family: Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  min-height: calc(100vh - calc(var(--footer-height)));
  display: flex;
  place-content: center;
  flex-direction: column;
}

section {
  padding: 0 var(--page-x-margin);
  max-width: var(--layout-width);
  margin: 0 auto;
  width: 100%;
}

a {
  color: var(--secondary-color);
  text-underline-offset: 1px;
}

h1,
.h1 {
  font-family: var(--font-rey);
  font-size: 4rem;
  margin-bottom: 48px;
  z-index: 1;
  position: relative;
}

h2,
h3,
.h2,
.h3 {
  font-size: 2rem;
}
h4,
.h4 {
  font-size: 1.3rem;
}

h1,
h2,
h3,
h4,
li,
p {
  margin-bottom: 16px;
}

h1,
h2,
li,
p {
  color: var(--primary-color);
}

@media (max-width: 1000px) {
  h1,
  .h1 {
    font-size: 3.8rem;
    margin-bottom: 32px;
  }
}
@media (max-width: 800px) {
  :root {
    --footer-height: 108px;
  }
}
@media (max-width: 700px) {
  html {
    font-size: 17px;
  }
}

@media (max-width: 600px) {
  :root {
    --page-y-margin: 16px;
    --page-x-margin: 16px;
    --header-height: 82px;
  }
  h1,
  .h1 {
    font-size: 2.4rem;
  }
}
@media (max-width: 400px) {
  h1,
  .h1 {
    font-size: 2.2rem;
  }
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

.text_link {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: underline;
  text-decoration-thickness: auto;
  text-decoration-thickness: max(1px, 0.0625rem);
  text-underline-offset: 0.1em;
  transition: 0.1s text-decoration-thickness;
  &:hover {
    text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
    -webkit-text-decoration-skip-ink: none;
    text-decoration-skip-ink: none;
    -webkit-text-decoration-skip: none;
    text-decoration-skip: none;
  }
}

.img {
  width: 100%;
  height: auto;
  border-radius: var(--border-radius);
}
