@import "sass-variables.scss";
@font-face {
  font-family: "Reey";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ReeyRegular.ttf") format("ttf"),
    url("../fonts/ReeyRegular.woff2") format("woff2"),
    url("../fonts/ReeyRegular.woff") format("woff");
}
@font-face {
  font-family: "Open Dyslexic";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/OpenDyslexic-Regular.otf") format("otf"),
    url("../fonts/OpenDyslexic-Regular.woff2") format("woff2"),
    url("../fonts/OpenDyslexic-Regular.woff") format("woff");
}
* {
  text-decoration: none;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: var(--secondary-color);
  scroll-margin-top: $header-height-desktop + 10px;
}
:root {
  --heading-font: #{$heading-font};
  --text-font: #{$text-font};
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --secondary-color-alt: #{$secondary-color-alt};
  --background-color: #{$background-color};
  --background-color-low-opacity: #{$background-color-low-opacity};
  --background-color-alt: #{$background-color-alt};
  --highlight-colour: #{$highlight-colour};
  --highlight-colour-alt: #{$highlight-colour-alt};
  --tertiary-color: #{$tertiary-color};
  --menu-background-color: #{$menu-background-color};
  --menu-background-color-low-opacity: #{$menu-background-color-low-opacity};
}
[data-theme="highContrast"] {
  --background-color: black;
  --primary-color: white;
  --tertiary-color: black;
  --background-color-low-opacity: rgba(0, 0, 0, 0.8);
}
[data-font="dyslexic"] {
  --text-font: "Open Dyslexic";
  --heading-font: "Open Dyslexic";
  font-size: 16px;
}
html {
  font-size: 20px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  scroll-behavior: smooth;
  background: var(--background-color);
}
html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
body.grayBg {
  background-color: #242424;
}
h1,
h2,
h3,
a,
p,
li,
button {
  font-family: var(--text-font);
  font-weight: 400;
  margin-top: 0;
}
h1,
h2,
h3,
p,
li {
  margin-bottom: 20px;
}
h1 {
  font-family: var(--heading-font);
  font-weight: 800;
  font-size: 4rem;
}
h2,
h3 {
  font-size: 2rem;
}
h1,
h2,
p,
li {
  color: var(--primary-color);
}
[data-theme="highContrast"] p > a {
  text-decoration: underline;
}
a > p {
  color: var(--secondary-color);
}
button {
  font-size: 1rem;
  padding: 10px;
}

.pageCon {
  display: inline-block;
  width: 100%;
}
.contentCon {
  padding: $header-height-desktop 0 0;
  margin: 0 auto;
  transition: padding 200ms;
}
.addedMargin.contentCon {
  margin-top: 20px;
}
.contentConWidthStrict {
  max-width: $layout-width;
  padding-left: $page-margin-desktop;
  padding-right: $page-margin-desktop;
}
.anchor::before {
  display: block;
  content: " ";
  margin-top: -($header-height-desktop + 10px);
  height: ($header-height-desktop + 10px);
  visibility: hidden;
  pointer-events: none;
}
/*Accessibility*/
/*The default outline styling, for greatest accessibility */
.usingKeys *:focus,
.usingKeys *:focus ~ span {
  outline: 3px solid var(--highlight-colour);
}
/* When mouse is detected, ALL focused elements have outline removed */
.usingMouse *:focus {
  outline: none;
}
/*End of Accessibility*/

@media only screen and (max-width: 1200px) {
  html {
    font-size: 19px;
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 18px;
  }
  h1 {
    font-size: 3.8rem;
  }
}
@media only screen and (max-width: 800px) {
  html {
    font-size: 17px;
  }
}

@media only screen and (max-width: 600px) {
  * {
    scroll-margin-top: $header-height-mobile + 10px;
  }
  .contentCon {
    padding: 80px 0 0;
  }
  .addedMargin.contentCon {
    margin-top: 0;
  }
  .contentConWidthStrict {
    padding-left: $page-margin-mobile;
    padding-right: $page-margin-mobile;
  }
  h1 {
    font-size: 2.4rem;
  }
  .workExampleCon {
    flex-direction: column;
  }
  .workExampleConR .workExampleText {
    text-align: left;
  }
  .workExampleText {
    order: 1;
  }
  .anchor::before {
    margin-top: -($header-height-mobile + 10px);
    height: ($header-height-mobile + 10px);
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 2.2rem;
  }
}

@media only screen and (max-width: 340px) {
  h1 {
    font-size: 1.8rem;
  }
}
