html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
}
html {
	background: #004061;
	/*background-image: linear-gradient(to left, #007a90, #004061); */
	background-repeat: no-repeat;
	background-attachment: fixed;
}
body {
}
* {
	text-decoration: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: white;
	outline: none;
}
.pageCon {
	display: inline-block;
	width: 100%;
}
.contentCon {
	padding: 80px 30px 30px;
	max-width: 1200px;
	margin: 0 auto;
	transition: padding 200ms;
}
h1,
h2,
h3,
a,
p {
	font-family: 'quicksand', Arial;
	font-weight: 400;
	margin-top: 0;
}

h1 {
	font-family: 'reey';
	font-weight: 800;
	font-size: 100px;
	padding-left: 10px;
}
h2 {
	font-size: 23px;
}

h2,
h3,
a {
	font-weight: 400;
}
h1,
h2,
p {
	color: #00c8b4;
}
p {
	font-size: 17px;
}

@media only screen and (max-width: 1000px) {
	h1 {
		font-size: 70px;
	}
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 45px;
	}
	.workExampleCon {
		flex-direction: column;
	}
	.workExampleConR .workExampleText {
		text-align: left;
	}
	.workExampleText {
		order: 1;
	}
}

@media only screen and (max-width: 400px) {
	h1 {
		font-size: 35px;
	}
	h2 {
		font-size: 18px;
	}
}
