@font-face {
	font-family: "Reey";
	font-weight: 400;
	font-style: normal;
	src: url("../fonts/ReeyRegular.ttf") format("ttf"), url("../fonts/ReeyRegular.woff2") format("woff2"),
		url("../fonts/ReeyRegular.woff") format("woff");
}

* {
	text-decoration: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	color: white;
}
html {
	font-size: 20px;
	background: #004061;
	/*background-image: linear-gradient(to left, #007a90, #004061); */
	background-repeat: no-repeat;
	background-attachment: fixed;
	scroll-behavior: smooth;
}
html,
body {
	margin: 0;
	width: 100%;
	height: 100%;
}

.pageCon {
	display: inline-block;
	width: 100%;
}
.contentCon {
	padding: 55px 30px 0;
	max-width: 1200px;
	margin: 0 auto;
	transition: padding 200ms;
}
h1,
h2,
h3,
a,
p,
li {
	font-family: 'quicksand', Arial;
	font-weight: 400;
	margin-top: 0;
}

h1 {
	font-family: 'reey', Arial;
	font-weight: 800;
	font-size: 5em;
}
h2 {
	font-size: 2em;
}

h2,
h3,
a {
	font-weight: 400;
}
h1,
h2,
p,
li {
	color: #00c8b4;
}
h3 {
	font-size:2em;
	margin-bottom:20px;
}

/*Accessibility*/
/*The default outline styling, for greatest accessibility */
.usingKeys *:focus, .usingKeys *:focus ~ span {
    outline: 3px solid #F05D5E;   
}
  /* When mouse is detected, ALL focused elements have outline removed */
.usingMouse *:focus {
	outline: none;
}
/*End of Accessibility*/

@media only screen and (max-width: 1200px) {
	html {
		font-size: 19px;
	}
}

@media only screen and (max-width: 1000px) {
	html {
		font-size: 18px;
	}
	h1 {
		font-size: 3.8em;
	}
}
@media only screen and (max-width: 800px) {
	html {
		font-size: 17px;
	}
}

@media only screen and (max-width: 600px) {
	.contentCon {
		padding: 80px 15px 0;
	}
	h1 {
		font-size: 2.4em;
	}
	.workExampleCon {
		flex-direction: column;
	}
	.workExampleConR .workExampleText {
		text-align: left;
	}
	.workExampleText {
		order: 1;
	}
}

@media only screen and (max-width: 400px) {
	h1 {
		font-size: 2.2em;
	}
}

@media only screen and (max-width: 340px) {
	h1 {
		font-size: 1.8em;
	}
}
