.homeTitleBanCon {
	min-height: calc(100vh - 155px);
	display:flex;
	align-items: center;
}

.homeTitleBan {
	width: 100%;
	position: relative;
	
}

.homeTitleBanText {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	text-align:right;
	margin:auto;
	height:50%;
}
.solarSVG {
	width:70%;
}
.homeTitle {
	font-size:3em;
	padding-left:25px;
}
.homeSubtitle {
	font-size:1.5em;
}

@media only screen and (max-width: 900px) {
	.homeTitleBan {
		display:flex;
		flex-direction:column;
	}
	.solarSVG {
		width:100%;
		margin:0 auto;
	}
	.homeTitleBanText {
		position:relative;
		height: auto; 
		text-align:center;
		margin-top:20px;
	}
	.homeTitle {
		font-size:4em;
	}
}

@media only screen and (max-width: 600px) {
	.homeTitleBanCon {
		min-height: calc(100vh - 185px);
	}
	.homeTitle {
		font-size:3em;
	}
}

@media only screen and (max-width: 500px) {
	.homeTitle {
		font-size:2em;
	}
}