@font-face {
	font-family: "Piccadilly";
	src: url("../fonts/picadilly-regular.woff2") format("woff2"),
		url("../fonts/picadilly-regular.woff") format("woff");
}

.logoCon {
    width:49%;
    background: linear-gradient(to bottom,rgba(29,133,155,.95) 0%,rgba(24,83,99,.9) 100%);
    border-radius:5px;
    display:flex;
    flex-direction:column;
    align-content: center;
    justify-content: center;
    text-align:center;
    align-content: center;
    padding:40px;
    margin-bottom:20px;
}
.logoCon h3 {
    color:white;
    margin:0;
    font-family:Piccadilly;
    font-size: 2em;
}
.logo {
    width:80%;
    height:auto;
    margin:0 auto 20px;
    transform: translate(3%, 0);
}

.introCon {
    display:flex;
    justify-content: space-between;
}
.introCon ul {
margin-bottom:0;
}
.introTextContin {
    margin-top:0;
}
.introCon .introText {
    width:49%;
}
.desktopScreenshotsCon {
    position:relative;
}
.desktopScreenshots {
    padding-top:5%;
    display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
.desktopBg {
    position: absolute;
    left: 0;
    width:100%;
    z-index:-1;
}
.desktopScreenshot {
    background-image:url("../images/lyp/lyp-desktop-images.jpg");
    width: 45%;
padding-top: 24%;
background-size: 200%;
box-sizing: border-box;
display: inline-block;
margin: 20px 2%;
}
.desktopScreenshot:nth-child(2) {
    background-position: 100% 0%;
}
.desktopScreenshot:nth-child(3) {
    background-position: 0% 100%;
}
.desktopScreenshot:nth-child(4) {
    background-position: 100% 100%;
}

@media only screen and (max-width: 800px) {
    .logoCon h3 {
        font-size: 1.5em;
    }
}

@media only screen and (max-width: 600px) {
    .logoCon {
        width:100%;
        padding:20px;
    }
    .introCon {
flex-direction:column;
    }
    .introCon .introText {
width:100%;
    }
    .desktopBg {
        display:none;
    }
    .desktopScreenshots {
flex-direction: column;
padding:0;
    }
    .desktopScreenshot {
width:100%;
margin:0 auto 20px;
padding-top: 53.6%;
    }

}