$primary-color: #00f0d8;
$secondary-color: white;
$background-color: #004061;
$background-color-low-opacity: rgba(0, 64, 97, 0.9);
$lighter-background-color: #007a90;
$highlight-colour: #f05d5e;
$menu-background-color: rgba(0, 0, 0, 0.9);
$menu-background-color-low-opacity: rgba(0, 0, 0, 0.2);
$footer-links-background-color: #333333;
$footer-small-print-background-color: #ecf8f2;

$std-border-radius: 5px;

$layout-width: 1200px;
$header-height-desktop: 55px;
$page-margin-desktop: 30px;
$page-margin-mobile: 15px;
