.con {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.center {
  justify-content: center;
}
.right {
  justify-content: flex-end;
}
@media only screen and (max-width: 500px) {
  .right {
    justify-content: flex-start;
  }
}
