.preview {
  width: 100%;
  padding: 20px;
  text-align: center;

  p {
    margin-bottom: 0;
    color: white;
    font-size: 1.25rem;
  }
}

@media only screen and (max-width: 600px) {
  .preview p {
    font-size: inherit;
  }
}

.container {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 30px;
  overflow: hidden;
}
