.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--footer-bg-color);
}
.footer__inner {
  padding: 16px var(--page-x-margin);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--layout-width);
  margin: 0 auto;
  width: 100%;
  a {
    transition: opacity 200ms ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }
  &:target a::before {
    animation: iconShine 1s ease-in-out 1;
  }
}
@keyframes iconShine {
  from {
    transform: translateY(-70%) rotate(20deg) translateX(-60%);
  }
  to {
    transform: translateY(-70%) rotate(20deg) translateX(400%);
  }
}

.text {
  * {
    margin-bottom: 0;
    color: white;
    font-size: 0.9rem;
  }
}

@media (max-width: 800px) {
  .footer__inner {
    flex-direction: column;
  }
  .text {
    margin-top: 20px;
    text-align: center;
    order: 1;
  }
}

@media (max-width: 600px) {
  .footer__inner {
    padding: var(--page-x-margin);
  }
}

@media (max-width: 350px) {
  .links {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .link {
    margin: 0;
  }
}
