.container {
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: transparent;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--layout-width);
  margin: 0 auto;
  padding: 0 var(--page-x-margin);
  height: 55px;
  overflow: hidden;
  transition:
    height 200ms ease-in-out,
    padding 200ms ease-in-out;
  > a {
    height: 40px;
  }
}
.logo {
  fill: var(--secondary-color);
  width: 40px;
  height: 40px;
  transition: opacity 200ms ease-in-out;
}
.nav {
  width: calc(100% - 50px);
}
.text_links {
  display: flex;
  justify-content: flex-end;
  column-gap: 6%;
}
.link {
  color: var(--secondary-color);
  text-align: center;
  transition: opacity 200ms ease-in-out;
  position: relative;
  text-decoration: none;
}

.link:hover,
.logo:hover {
  opacity: 0.5;
}
.hamburger {
  display: none;
  background-color: var(--hamburger-icon-bg-color);
  width: 50px;
  height: 50px;
  cursor: pointer;
  position: relative;
  border-radius: 3px;
  border-width: 0;
  span {
    background-color: var(--secondary-color);
    height: 5px;
    width: 35px;
    position: absolute;
    border-radius: 5px;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 1;
    transition:
      transform 100ms ease-in,
      width 50ms linear,
      opacity 50ms linear,
      top 50ms linear;
    &:nth-child(1) {
      top: 12px;
    }
    &:nth-child(2),
    &:nth-child(3) {
      top: 22.5px;
    }
    &:nth-child(4) {
      top: 33px;
    }
  }
}
.sticky {
  background-color: var(--background-color-1);
}
.header.header__expanded .hamburger span {
  &:nth-child(1),
  &:nth-child(4) {
    width: 0;
    top: 22.5px;
    opacity: 0;
  }
  &:nth-child(2) {
    transform: rotate(45deg);
  }
  &:nth-child(3) {
    transform: rotate(-45deg);
  }
}
@media (min-width: 601px) {
  .mobile_only {
    display: none;
  }
}
@media (max-width: 600px) {
  .hamburger {
    display: inline;
  }
  .nav {
    opacity: 0;
    visibility: hidden;
    width: 100%;
    height: calc(100dvh - var(--header-height));
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin-top: var(--page-x-margin);
    padding-bottom: var(--page-x-margin);
    overflow-x: hidden;
  }
  .text_links {
    flex-direction: column;
    overflow-y: auto;
  }
  .header.header__expanded {
    background-color: var(--mobile-drawer-bg-color);
    transition: background-color 200ms ease-in-out;
    height: auto;
    .nav {
      opacity: 1;
      transition: opacity 200ms ease-in-out;
      visibility: visible;
    }
  }
  .header {
    flex-wrap: wrap;
    height: var(--header-height);
    > a {
      height: 50px;
    }
    padding: var(--page-x-margin) var(--page-x-margin) 0;
  }
  .logo {
    width: 50px;
    height: 50px;
  }
  .link {
    padding: 20px 0;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 0;
    display: flex;
    justify-content: center;
  }
  .desktop_only {
    display: none;
  }
}
