.con {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
  column-gap: 32px;
  row-gap: 16px;
  img {
    border-radius: 5px;
    width: 100%;
    height: auto;
  }
}
.con.portrait {
  .image_con {
    width: calc(25% - 8px);
    flex-shrink: 0;
  }
}
.image_con {
  min-width: calc(50% - 8px);
  text-align: center;
}
@media only screen and (max-width: 800px) {
  .con {
    flex-direction: column;
  }
  .text_con,
  .image_con {
    width: 100%;
  }
  .image_con {
    order: -1;
  }
  .con.portrait {
    .text_con,
    .image_con {
      width: 100%;
    }
  }
}
