.con {
  padding: calc(4rem + var(--header-height)) 0 3rem;
  background: linear-gradient(
    to bottom,
    var(--background-color-1) 0%,
    var(--background-color-3) 100%
  );
  border-radius: 0 0 50% 50%;
  margin-bottom: 5rem;
  h1 {
    text-align: center;
  }
}
.inner {
  padding: 0 var(--page-x-margin);
  max-width: var(--layout-width);
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 600px) {
  .con {
    padding: calc(2rem + var(--header-height)) 0 2rem;
    margin-bottom: 2rem;
  }
}
