@import "../../sass-variables.scss";

.footerCon {
	width: 100%;
	display: flex;
	flex-direction: column;
}
.footerLinks {
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 15px 30px 15px;
	background-color: $footer-links-background-color;
}
.footerLinks a {
	transition: opacity 50ms linear;
}
.footerLinks a:hover {
	opacity: 0.5;
}
.footerLinkItem {
	border-width: 0;
	margin: 0 20px;
	width: 50px;
	height: 50px;
	max-height:35px;
	display: flex;
	justify-content: center;
	align-content: center;
	fill: $secondary-color;
}

.footerSmallPrint {
	padding: 10px 30px 10px;
	text-align: center;
	background-color: $footer-small-print-background-color;
	color: $footer-links-background-color;
	height:40px;
}
.footerSmallPrint p {
	margin: 0;
}
.privPolLink {
	display: inline-block;
	transition: opacity 200ms;
}
.footerSmallPrint p,
.privPolLink {
	color: $footer-links-background-color;
	font-size: .8rem;
}
.privPolLink {
	font-size: 1rem;
}
.privPolLink:hover {
	opacity: 0.5;
}
