@import "../../sass-variables.scss";

.footerCon {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--tertiary-color);
}
.footer {
  padding: 15px 30px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  .smallPrint * {
    margin-bottom: 0;
    color: white;
    font-size: 0.8rem;
  }
  .smallPrint a {
    text-decoration: underline;
  }
  a {
    transition: opacity 50ms linear;
    :hover {
      opacity: 0.5;
    }
    :last-child .link {
      margin-right: 0;
    }
  }
  .links {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
.link {
  border-width: 0;
  margin: 0 20px;
  width: 50px;
  height: 50px;
  max-height: 35px;
  display: flex;
  justify-content: center;
  align-content: center;
  fill: var(--secondary-color);
}
/*High Constrast Theme CSS*/
[data-theme="highContrast"] {
  .footerCon {
    background-color: var(--primary-color);
    .smallPrint * {
      color: var(--background-color);
    }
  }
  .link {
    fill: var(--background-color);
  }
}

@media (max-width: 800px) {
  .footer {
    flex-direction: column;
    .smallPrint {
      margin-top: 20px;
      text-align: center;
      order: 1;
    }
    .links {
      order: 0;
    }
    .links a:first-child .link {
      margin-left: 0;
    }
  }
}

@media (max-width: 600px) {
  .footer {
    padding: 15px 15px 15px;
  }
}

@media (max-width: 350px) {
  .footer {
    .smallPrint a {
      display: block;
    }
    .links {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    .link {
      margin: 0;
    }
  }
}
