.button {
    background-color: #F05D5E;
    border:none;
    border-radius:10px;
    color:white;
    cursor: pointer;
    font-family: 'quicksand', Arial;
    font-size:1rem;
    font-weight:700;
    padding:10px;
    text-decoration: none;
    transition: all 0.3s;
    margin-bottom: 20px;
}
.button:hover {
    opacity: 0.5;
    transform: translateY(-2px);
}