@import "../sass-variables.scss";

.button {
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "quicksand", Arial;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px;
  text-decoration: none;
  transition: all 0.3s;
}
.button:hover {
  transform: translateY(-2px);
}
.button svg {
  margin-left: 15px;
}
.button.primary {
  color: var(--secondary-color);
  background-color: var(--highlight-colour);
}
.button.primary:hover {
  background-color: var(--highlight-colour-alt);
}
.button.secondary {
  color: var(--tertiary-color);
  background-color: var(--secondary-color-alt);
}
.button.secondary:hover {
  background-color: var(--secondary-color);
}
