@import "../sass-variables.scss";

.container {
  width: 100%;
  position: relative;
  border-radius: $std-border-radius;
  overflow: hidden;
  margin-bottom: 10px;
  display: flex;
  > div:first-child {
    position: absolute;
    height: 100%;
    width: 100%;
    animation: fade forwards ease-in-out 8s infinite;
    z-index: 1;
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
