@import "../sass-variables.scss";

.workExampleCon {
  width: 100%;
  display: flex;
  margin-top: -50px;
  align-items: flex-start;
  :first-child {
    margin-top: 0px;
  }
  &.small {
    margin-top: 20px;
  }
}
.text {
  align-self: center;
  flex: 1;
  margin: 30px 20px 30px 0;
  h3 {
    font-size: 2rem;
    font-weight: 900;
  }
}
.workExampleConR .text {
  order: 1;
  text-align: right;
  margin: 30px 0 30px 20px;
}
.small {
  .text {
    margin-top: 0;
  }
  .brushImgCon {
    max-width: 250px;
    width: 30%;
  }
}
.brushImgCon {
  max-width: 450px;
  width: 40%;
  margin: 0 auto;
}
.link {
  width: 100%;
}
.brushPreview {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.brushSplashCon .brushPreview {
  padding-top: 100%;
}
.brushBg {
  fill: var(--background-color-alt);
  z-index: -1;
  width: 100%;
  transition: fill 1000ms;
}
[data-theme="highContrast"] .brushBg {
  display: none;
}
.image {
  width: 100%;
  transition: opacity 200ms;
}
.brushMaskCon {
  img {
    border-radius: 5%;
    -webkit-mask-size: 100%;
    mask-size: 100%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
  }
  :hover img {
    opacity: 0.5;
  }
}
.brushSplashCon {
  .image,
  .brushBg {
    top: 50%;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    height: auto;
  }
  .link:hover .brushBg {
    fill: var(--highlight-colour);
  }
}

@media (max-width: 1000px) {
  .workExampleCon {
    margin-top: -25px;
  }
}

@media (max-width: 800px) {
  .text h3 {
    font-size: 1.3em;
  }
  .workExampleCon {
    margin-top: 0;
  }
}

@media only screen and (max-width: 500px) {
  .workExampleCon {
    flex-direction: column;
  }
  .text {
    margin: 0 0 30px;
    order: 1;
  }
  .brushImgCon {
    max-width: 400px;
  }
  .brushImgCon,
  .text {
    width: 100%;
  }
  .extraMobBotPadding {
    margin-bottom: 20px;
  }
  .workExampleConR {
    .text {
      text-align: left;
      margin: 0 0 30px;
    }
    .text a {
      float: none;
    }
  }
  .small {
    .link {
      max-width: 200px;
      width: 100%;
      margin: 0 auto;
    }
    .text {
      margin-top: 20px;
    }
    .brushImgCon {
      width: auto;
    }
  }
}
