@import "../sass-variables.scss";

.hide{
	display:none;
}

.stamp__con {
    max-width: 1000px;
    margin: 30px auto 20px;
    background: #eef0ee;
    border-radius: 5px;
    * {
        color:#505050;
        font-family:arial;
    }
}
.stamp__bg {
    max-width:650px;
    padding: 20px 15px 20px;
    overflow: hidden;
    margin:0 auto;
    color: #505050; 
}
.stamp__header {
    font-size: 24px; 
    text-align: center; 
    color: #1D859B;
}
.stamp__calc-con {
    margin: 0 auto;
    width: 100%;
    color: #505050;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}
.stamp__house-price-con {
    display:flex;
    flex-direction: column;
    width:100%;
}
.stamp__house-price {
    display:flex;
    margin-bottom:5px;
}
.stamp__currency {
    height: 48px;
    width: 48px;
    border-radius: 5px;
    border: 1px solid #d5d5d5;
    background-color: #fff;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    margin-right:5px;
}
.stamp__house-price-input {
    font-size: 20px;
    font-weight: 500;
    height: 48px;
    border-radius: 5px;
    width: 100%;
    padding: 6px;
    margin: 0 7px 0 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    background-color: #fff;
    border: 1px solid #ccc;
    color: #1D859B;
    cursor: text;
}
.stamp__error-message {
    display:flex;
    svg {
        float:left;
        fill: red;
        margin-right:5px;
        padding: 1px;
        overflow: visible;
    }
    p {
        color:red;
        font-style: italic;
        margin:2px 0 0;
    }
}
.stamp__calc-button {
    font-size: 17px;
    padding: 11px 20px;
    border: 1px solid #59585a;
    background-color: #59585a;
    width: 140px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    cursor:pointer;
    &:hover {
        background: 0 0;
        color: #59585a;
        transition: color 0.3s, background-color 0.2s;
    }
}
.stamp__buyer-type-con {
    margin:10px 0 10px;
}
.stamp__buyer-type { 
    position: relative;
    padding: 2px 0 0 35px;
    margin-bottom: 15px;
}
.stamp__buyer-type-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 25px;
    width: 25px;
    left: 0;
    top: 0;
    z-index: 1;
    margin: 0;
    &:hover ~ .stamp__checkmark {
        background-color: #f3f3f3;
    }
    &:checked ~ .stamp__checkmark {
        background-color: #59585a;
    }
    &:checked ~ .stamp__checkmark:after {
        display: block;
    }
}
.stamp__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius:5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: 0.3s background-color;
    &::after {
        left: 8px;
        top: 3px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        content: "";
        position: absolute;
        display:none;
    }
}
.stamp__results-con {
    width:100%;
    margin-top:20px;
    h3 {
        border-bottom: 2px solid #59585a30;
        color: #59585a;
        font-weight: 400;
        text-align:left;
        font-size:20px;
        margin-bottom:10px;
    }
    td, th {
        font-size: 17.5px;
        border: 3px solid #fff;
        padding:5px;
        text-align:center;
    }
    .stamp__col0 { 
        text-align:left;
    }
}
.stamp__results-main {
    display:flex;
}
.stamp__results-table {
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin:20px auto 0;
}
.stamp__final-figure {
    font-size: 17px;
    width: 50%;
    float: left;
    font-weight: 600;
    span {
        margin-top: 10px;
        color: #1d859b;
        font-size: 25px;
    }
}
.stamp__col1 {
    background-color: #e6e6e6;
}
.stamp__col2 {
    background-color: #ddd;
}
.stamp__col3 {
    background-color: #cfcfcf;
}
.stamp__col1>span, .stamp__col2>span, .stamp__col3>span{
    color: #1d859b;
}
.stamp__disclaimer {
    margin: 20px 0 0;
    font-size:10px;
}
/*End of Desktop CSS */

@media only screen and (min-width: 800px) {
	.stamp__tax-band-short {
		display:none;
	}	
}
@media only screen and (max-width: 800px) {
	.stamp__tax-band-long {
		display:none;
	}
}
@media (max-width: 450px) {
    .stamp__results-con td, .stamp__results-con th {
        font-size: 14px;
        padding:3px;
        border: 3px solid #fff;
    }
    .stamp__calc-con {
        flex-direction: column;
    }
    .stamp__calc-button {
        width:100%;
        margin-top:5px
    }
    .stamp__currency {
        width:30px;
    }
    .stamp__house-price-input {
        margin:0;
        width:calc(100% - 35px)
    }
    .stamp__results-main {
        flex-direction:column;
    }
    .stamp__final-figure {
        width:100%;
        margin-bottom:10px;
    }
    .stamp__results-table {
        margin-top:10px;
    }
}

@media (max-width: 350px) {
	.stamp__house-price-input {
		margin:0;
	}
	.stamp__results-con {
        td, th {
            font-size: 10.5px;
            padding:2px;
            border: 3px solid #fff;
        }
    }
}