@import "../sass-variables.scss";

.hide{
	display:none;
}

.stamp_container {
    max-width: 1000px;
    margin: 30px auto;
    background: #eef0ee;
    border-radius: 5px;
}
.cost-container {
    display:flex;
    margin-bottom:5px;
}
.stamp_container *{
    color:#505050;
    font-family:arial;
}
.stamp_background {
    max-width:650px;
    padding: 20px 15px 20px;
    overflow: hidden;
    margin:0 auto;
    color: #505050;
}
.stamp_background h2 {
	font-size: 24px; 
	text-align: center; 
	color: #1D859B;
}
.stamp_cost_table {
    margin: 0 auto;
    width: 100%;
    color: #505050;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
}
.stamp_cost_table .input-container {
    display:flex;
    flex-direction: column;
    width:100%;
}
.stamp_cost_table input{
    width: 21px;
    height: 21px;
    margin: 8px 0 0;
    color: #1D859B;
    cursor: text;
}
.stamp_buyer_type {
    margin:10px 0 10px;
}
.error-message {
    display:flex;
}
.error-message svg {
    float:left;
    fill: red;
    margin-right:5px;
    padding: 1px;
    overflow: visible;
}
.error-message p {
    color:red;
    font-style: italic;
    margin:2px 0 0;
}

.stamp_cost_table td, .stamp_cost_table th{
    border: 0px solid #333;
}

.stamp-duty-table {
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin:20px auto 0;
}

.stamp-duty-table td, .stamp-duty-table th {
    padding: 5px;
    text-align:center;
}
.pound_box {
    height: 48px;
    width: 48px;
    border-radius: 5px;
    border: 1px solid #d5d5d5;
    box-shadow: none;
    padding: 0px;
    background-color: #fff;
    font-size: 40px;
    line-height: 43.5px;
    text-align: center;
    font-weight: 600;
	margin-right:5px;
} 
.stamp_buyer_type tr {
    margin-bottom:5px;
    display: block;
}
.stamp_buyer_type input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 25px;
    width: 25px;
    left: 0;
    top: 0;
    z-index: 1;
    margin: 0;
}
.stamp_buyer_type .stamp_checkbox { 
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 22px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.stamp_checkbox:hover input ~ .checkmark {
    background-color: #f3f3f3;
}
.stamp_checkbox input:checked ~ .checkmark {
    background-color: #59585a;
}
.stamp_buyer_type .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: white;
    border-radius:5px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: 0.3s background-color;
  }
.stamp_buyer_type .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.stamp_buyer_type input:checked ~ .checkmark:after {
    display: block;
}
.stamp_buyer_type .checkmark:after {
    left: 8px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
#costofhouse {
    font-size: 20px;
    font-weight: 500;
    height: 48px;
    border-radius: 5px;
    width: 100%;
    padding: 6px;
    margin: 0 7px 0 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    background-color: #fff;
    border: 1px solid #ccc;
}
#calcstampduty {
	font-size: 17px!important;
    padding: 11px 20px!important;
    border: 1px solid #59585a!important;
    background-color: #59585a;
    width: 140px;
    position: relative;
    display: inline-block;
    font-size: 13px;
    line-height: 24px;
    font-weight: 700;
    padding: 12px 34px;
    color: #fff;
    border-radius: 3px;
    cursor:pointer;
}
#calcstampduty:hover {
    background: 0 0;
    color: #59585a;
    transition: color 0.3s, background-color 0.2s;
}
.stamp_result_title {
    border-bottom: 2px solid #59585a30;
    color: #59585a;
    font-weight: 400;
	text-align:left;
	font-size:20px;
	margin-bottom:10px;
}
.stamp_main_results {
    display:flex;
}
.stamp_result_titles {
    font-size: 17px;
    width: 50%;
    float: left;
    font-weight: 600!important;
}
.stamp_result_titles span {
    margin-top: 10px;
    color: #1d859b;
    font-size: 25px;
    font-weight: 600;
}

.stampDutyCalcuations {
	width:100%;
}

.stamp-duty-table .col0 {
    text-align: left;
}
.col1 {
    background-color: #e6e6e6;
}
.col2 {
    background-color: #ddd;
}
.col3 {
    background-color: #cfcfcf;
}
.stampDutyCalcuations td, .stampDutyCalcuations th {
	font-size: 17.5px;
	border: 3px solid #fff;
}
.col1>span, .col2>span, .col3>span{
    color: #1d859b;
}
.disclaimer {
    margin: 20px 0 0;
    font-size:10px;
}
/*End of Desktop CSS */

@media only screen and (max-width: 1024px) {
.page-wrap { margin-top:-4px; }
.maintitle {
    font-size:100px !important;
}
.fl-photo-caption-hover {
    opacity:1;
}
.pantone_large {
    color:white !important;
}
	.lyp_screenshot_con {
		padding-top:20px;
	}
}

@media only screen and (min-width: 767px) {
	.show_mobile {
		display:none !important;
	}	
}

@media only screen and (max-width: 767px) {
	.hide_mobile {
		display:none !important;
	}
    
    .stampDutyCalcuations td, .stampDutyCalcuations th {
        font-size: 14px;
        padding:3px;
        border: 3px solid #fff;
}
	/*mobile css end */
}
@media (max-width: 450px) {
    .stamp_cost_table {
        flex-direction: column;
    }
    #calcstampduty {
        width:100%;
        margin-top:5px
    }
    .pound_box {
        width:30px;
    }
    #costofhouse {
        margin:0;
        width:calc(100% - 35px)
    }
    .stamp_main_results {
        flex-direction:column;
    }
    .stamp_result_titles {
        width:100%;
        margin-bottom:10px;
    }
    .stamp-duty-table {
        margin-top:0;
    }
}

@media (max-width: 350px) {
	#costofhouse {
		margin:0;
	}
	.stampDutyCalcuations td, .stampDutyCalcuations th {
        font-size: 10.5px;
        padding:2px;
        border: 3px solid #fff;
    }
}