.container {
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom:30px;
}
.textCon {
    width:49%;
}

.container img {
    width:49%;
    border-radius: 5px;
    margin-bottom:20px;
}

@media only screen and (max-width: 800px) {
    .container {
flex-direction:column;
    }
    .textCon {
        width:100%;
    }
    
    .container img {
        width:100%;
    }
}