@import "../sass-variables.scss";
.con {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 10px;
  img {
    border-radius: 5px;
  }
}
.textCon {
  width: 49%;
}
.imageCon {
  width: 49%;
  margin-bottom: 20px;
}
@media only screen and (max-width: 800px) {
  .con {
    flex-direction: column;
  }
  .textCon,
  .imageCon {
    width: 100%;
  }
}
