.logoCon {
    background-color: white;
    position:relative;
    width:100%;
    height:500px;
    overflow:hidden;
    display:flex;
    border-radius: 5px;
    align-items: flex-start;
    text-align:center;
    justify-content: center;
    margin-bottom:20px;
}
.bristolAgencyLogo {
    width:75%;
    max-width:500px;
    height:auto;
    margin-top:7%
}
.bristolLandscape {
    margin:0 auto;
    position: absolute;
    width:100%;
    height:auto;
    bottom:0;
    right:0;
    left:0;
    display: block;
    transform: scale(1.01);
}
.iconsCon {
    width:100%;
    display:flex;
    justify-content: space-between;
}
.bmaIconsSvg {
    width:49%;
}
.bmaIconsText {
    width:49%;
}

.mobMenuCon {
    display:flex;
    align-items: center;
    margin-bottom:30px;
}
.mobMenuCon > img {
width:100%;
max-width:250px;
}

.mobMenuGifCon {
    margin:0% 2%;
    width:100%;
    position: relative;
    max-width:250px;
    display: flex;
    justify-content: center;
}
.mobMenuVideo {
    width:100%;
    margin:12% 2% 15%;
    background-color: white;
}
.mobMenuGifCon svg {
    right: 0;
    left: 0;
    height: 100%;
    position: absolute;
}

.egServicesBg {
    background-color:#e2dedf; 
    width:100%;
    border-radius: 5px;
    margin-bottom: 30px;
}

.egServicesCon {
    margin-left:45%;
    /* transform-origin:90% 0; */
    width:70%;
    transform: rotate(45deg);
    overflow:hidden;
    transform-origin: 25% 0;
}

.egServicesCon > div {
    background-color:white; 
    width:19%;
    padding-bottom:19%;
    float:left;
    margin:1%;
    background-image: url('../../images/bma/services-sprites.jpg');
    background-size:400% auto;
    transition: opacity 0.3s;
}

.egServicesCon:hover > div:hover {
    opacity:1;
}
.egServicesCon:hover > div {
    opacity:0.5;
}

.egServicesCon > div:nth-child(1){
    margin-left:43%;
    clear:both;
}
.egServicesCon > div:nth-child(2){
    margin-left:22%;
    background-position:33.33% 0%;
}
.egServicesCon > div:nth-child(3){
    background-position:66.66% 0%;
}
.egServicesCon > div:nth-child(4){
    background-position:100% 0%;
}
.egServicesCon > div:nth-child(5){
    background-position:0% 100%;
}
.egServicesCon > div:nth-child(6){
    background-position:33.33% 100%;
}
.egServicesCon > div:nth-child(7){
    background-position:66.66% 100%;
}
.egServicesCon > div:nth-child(8){
    margin-left:22%;
    background-position:100% 100%;
}
/* EG services CSS end */

@media only screen and (max-width: 800px) {
    .iconsCon {
        flex-direction: column;
    }
    .bmaIconsSvg, .bmaIconsText {
        width:100%;
    }
}

@media only screen and (max-width: 700px) {
    .bristolAgencyLogo {
        padding-top:30px;
        height:auto;
        width:90%;
        margin-top:0;
    }
    .logoCon{
        height:300px;
    }
}
@media only screen and (max-width: 600px) {
.egServicesCon {
    margin-left:43%;
    /* transform-origin:90% 0; */
    width:100%;
}
.mobMenuGifCon {
    margin-left: 0%;
}
.mobMenuCon > img {
    display:none;
    }
}


@media only screen and (max-width: 450px) {
    .bristolAgencyLogo {
        width:90%;
    }
    .logoCon{
        height:220px;
    }
    .mobMenuGifCon {
        margin-right:0;
        max-width:200px;
        margin-bottom:30px;
    }
    .mobMenuCon {
        flex-direction: column;
        margin-bottom:0px;
    }
    
}