.indexTitleBanCon {
	min-height: calc(100vh - 120px);
	display:flex;
	align-items: center;
}

.indexTitleBan {
	width: 100%;
	position: relative;
	
}

.indexTitleBanText {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	text-align:right;
	margin:auto;
	height:50%;
}
.solarSVG {
	width:70%;
}
.indexTitle {
	font-size:3em;
	padding-left:25px;
}
.indexSubtitle {
	font-size:1.5em;
}

@media only screen and (max-width: 900px) {
	.indexTitleBan {
		display:flex;
		flex-direction:column;
	}
	.solarSVG {
		width:100%;
		margin:0 auto;
	}
	.indexTitleBanText {
		position:relative;
		height: auto; 
		text-align:center;
		margin-top:20px;
	}
	.indexTitle {
		font-size:4em;
	}
}

@media only screen and (max-width: 600px) {
	.indexTitleBanCon {
		min-height: calc(100vh - 145px);
	}
	.indexTitle {
		font-size:3em;
	}
}

@media only screen and (max-width: 500px) {
	.indexTitle {
		font-size:2em;
	}
}